# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/8.3/en/server-configuration-defaults.html

[mysqld]
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
innodb_buffer_pool_size = 256M #设置 InnoDB 数据缓冲池的大小,如果是专用服务器，则可以设置为总内存的 70%，否则设置为总内存的 10%。
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
log_bin #启用二进制日志记录是 MySQL 数据库管理中的重要步骤之一，特别是在生产环境中，它可以帮助确保数据的完整性，并提供对数据更改的持久记录，以支持备份、复制和灾难恢复等操作。
log-bin-trust-function-creators=1 #开启二进制日志信任自定义函数创建
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
join_buffer_size = 64M #这是用于执行联接操作时分配给每个连接缓冲区的大小。当执行大型联接操作时，增加此缓冲区的大小可以提高性能。但是，设置得太大可能会浪费内存。
sort_buffer_size = 2M #这是用于执行排序操作时的临时缓冲区大小。增加此缓冲区的大小可以加快排序操作的速度。同样地，设置得太大可能会导致内存浪费。
read_rnd_buffer_size = 2M #这是用于执行随机读取操作时的临时缓冲区大小。增加此缓冲区的大小可以提高执行随机读取操作时的性能。

# Remove leading # to revert to previous value for default_authentication_plugin,
# this will increase compatibility with older clients. For background, see:
# https://dev.mysql.com/doc/refman/8.3/en/server-system-variables.html#sysvar_default_authentication_plugin
# default-authentication-plugin=mysql_native_password
host-cache-size=0 #这个选项设置了主机缓存的大小。在这个例子中，它被设置为 0，表示禁用主机缓存。
skip-name-resolve #这个选项禁用了 MySQL 对客户端连接进行反向 DNS 查找。这可以加快连接速度，特别是在网络环境下可能存在 DNS 解析延迟的情况下。
datadir=/var/lib/mysql #这个选项指定了 MySQL 数据库文件的存储路径。
socket=/var/run/mysqld/mysqld.sock #这个选项指定了 MySQL 进程监听的套接字文件路径。
secure-file-priv=/var/lib/mysql-files #这个选项限制了 LOAD DATA INFILE 和 SELECT ... INTO OUTFILE 语句的文件操作范围。在这个例子中，它指定了允许访问的安全文件路径。
user=mysql #这个选项指定了 MySQL 进程运行的用户。
pid-file=/var/run/mysqld/mysqld.pid
sql_mode=ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION #用于控制 MySQL 服务器执行 SQL 语句时的行为

[client]
socket=/var/run/mysqld/mysqld.sock

